<template>
    <button @click="store.refreshInstruments">Fetch Instruments</button>
    <ul>
        <li v-for="instrument in store.instruments"
            @click="store.select(instrument)">
            {{ instrument.name }}
        </li>
    </ul>
</template>

<script setup>
import { useInstrumentsStore } from '../stores/instruments.js'

const store = useInstrumentsStore();

</script>

<style scoped>
ul { display: inline; width: 40%; }
li { padding: 7px; font-size: 20pt; cursor: pointer; }
</style>
