<template>
    <div class="light">
        <div v-if="selected">
            <button @click="edit">{{ buttonLabel }}</button>

            <ul v-if="viewing">
                <li>
                    <span>name:</span>
                    {{ store.instrument.name }}
                </li>
                <li>
                    <span>id:</span>
                    {{ store.instrument.id }}
                </li>
                <li>
                    <span>wikis:</span>
                    <span class="ili" v-for="w in store.instrument.wikis">{{ w }}</span>
                </li>
                <li>
                    <span>schema:</span>
                    {{ store.instrument.schema }}
                </li>
            </ul>

            <ul v-if="editing">
                <li>
                    <label>name: <input type="text" v-model="store.instrument.name" /></label>
                </li>
                <li>
                    <label>name:
                        <select v-model="selectedWikis" size="6" multiple>
                            <option v-for="w in store.wikis" :value="w">{{ w }}</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>name: <input type="text" v-model="store.instrument.schema" /></label>
                </li>
            </ul>
        </div>
    </div>
</template>

<script setup>
import {
    ref,
    computed,
} from 'vue';
import { useInstrumentsStore } from '../stores/instruments.js'

const selectedWikis = ref([]);

const store = useInstrumentsStore();
const editing = ref( false );

const selected = computed(() => store.instrument != null);
const viewing = computed(() => !editing.value);
const buttonLabel = computed(() => editing.value ? 'Save' : 'Edit');

function edit() {
    if (editing.value) {
        // save
        store.instrument.wikis = selectedWikis.value;
        editing.value = false;
    } else {
        // switch to editing
        store.refreshWikis();
        selectedWikis.value = store.instrument.wikis;
        editing.value = true;
    }
}

</script>

<style scoped>
.light {
    background-color: #dadada;
    color: #345;
    font-size: 16pt;
    padding: 20px;
}
ul { display: inline; width: 40%; }
li span { color: blue; }
li span.ili { color: #a22; padding: 7px; }

input, select { font-size: 14pt; }
</style>
