<template>
    <InstrumentList />
    <InstrumentDetail />
</template>

<script setup>
import InstrumentList from './components/InstrumentList.vue'
import InstrumentDetail from './components/InstrumentDetail.vue'

</script>

<style scoped>
</style>
